.icono-pequeno {
    font-size: 0.8rem; /* Ajusta el tamaño del icono */
}
.derecha{
    float: right;
}
.fondo{
    padding: 20px;
    background-color: rgb(29, 141, 29);
    border-radius: 15px;
    color:aliceblue
}
.busqueda{
    background-color: rgb(193, 213, 230);
    
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 1px 1px; 
}

th, td {
    padding: 1px;
    line-height: 0.9; 
    
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10%;
}
td{
    background-color: rgba(240, 248, 255, 0.699);
}
th {
    background-color: rgb(29, 141, 29);
    font-weight: bold;
}
.form-container {
    background-color: #dce6f8;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.btn-success {
    width: 120px;
}
.btn-secondary {
    width: 120px;
}
textarea {
    resize: none;
}
.input-small {
    width: 80px;
}
